@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'TT Commons';
  src: url('/fonts/TTCommons-DemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #191E29;
  color: #FFFFFF;
}

.font-tt-commons {
  font-family: 'TT Commons', sans-serif;
}

@keyframes square-animation {
 0%, 10.5% {
  left: 0;
  top: 0;
 }
 12.5%, 23% {
  left: 32px;
  top: 0;
 }
 25%, 35.5% {
  left: 64px;
  top: 0;
 }
 37.5%, 48% {
  left: 64px;
  top: 32px;
 }
 50%, 60.5% {
  left: 32px;
  top: 32px;
 }
 62.5%, 73% {
  left: 32px;
  top: 64px;
 }
 75%, 85.5% {
  left: 0;
  top: 64px;
 }
 87.5%, 98% {
  left: 0;
  top: 32px;
 }
 100% {
  left: 0;
  top: 0;
 }
}
